/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    transition: .5s;
}

.text {
    position: absolute;
    font-size: 100px;
    transform: rotate(320deg);
    width: 20rem;
    padding: 50px;
    color: var(--text-color);
}

:root {
    --text-color: #fff;
}